*{
    outline: none;
}

.ionButtonMenu{
    color: #C13584;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    background: $white-color;
}

.button {
    margin: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    color: white;
    font-size: 15px;
    background-color: #C13584;
    border-radius: 20px;
    height: 30px;
    width: 150px;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

.containerInputs{
    margin-bottom: 5px;
}

.mainContainer{
    margin-top: 0px;
    padding-top: 0px;
}

.ImgContainer{
    margin: 0px;
    padding: 0px;
}
.button1 {
    margin: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    color: white;
    font-size: 15px;
    background-color: grey;
    border-radius: 20px;
    height: 30px;
    width: 150px;
}