.form{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.ionButtonMenu{
    color: #C13584;
}

.button {
    margin: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    color: white;
    font-size: 15px;
    background-color: #C13584;
    border-radius: 20px;
    height: 30px;
    width: 150px;
}